.container{
    background-color: white;
    width: 30vw;
    height: 65vh;
    border-radius: 2.5rem;
    /* padding-left: 5rem; */
    /* display: flex; */
    justify-content: center;
    align-items: center;

    
    
}

.heading{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* margin-right: 0.5rem; */
}